{{ header }}{{ column_left }}
<div id="content">
  <div class="container-fluid">
    <div id="ForumPayPaymentGatewayWidgetContainer"></div>
    <span id="forumpay-apibase" data="{{ apiBase }}"></span>
    <span id="forumpay-returnurl" data="{{ returnUrl }}"></span>
    <span id="forumpay-cancelurl" data="{{ cancelUrl }}"></span>
  </div>
</div>
<script type="text/javascript">
  document.getElementById("header-cart").remove();
</script>
{{ footer }}
